@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: #f5f5f5; */
}

* {
  font-family: "HK Grotesk", sans-serif;
  box-sizing: border-box;
  /* line-height: 1.5; */
}

button,
a {
  -webkit-tap-highlight-color: transparent !important;
  -mox-tap-highlight-color: transparent !important;
  -ms-tap-highlight-color: transparent !important;
  -o-tap-highlight-color: transparent !important;
  -webkit-focus-ring-color: transparent !important;
}

/* marquee overlay */
.overlay {
  display: none !important;
}
/* display in large screens */
@media only screen and (min-width: 1024px) {
  .overlay {
    display: block !important;
  }
}
